html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #333;
	font-size:11px;
	vertical-align: baseline;
	
}

.centrarImagen{
	margin:0 auto;
}



.alinearIzq{
	text-align: left;
}
.alinearCentro{
	text-align:center;
}

.tableColumn{
 width:50%;
 }
.tableExpand{
 width:100%;
 }
 .tableThird{
 width:33%;
 }

.colorCategorias{
	background-color: #f7faf3 ;
}

.header1{
	background-color: #81af46;
}

.centrar{
	width:75%;
	margin:0 auto;
	
}

.art1col{
	background-color: #f7faf3 ;

	
}
.art1col td{
	
	border-bottom: #aaa 1px solid;
}

.titles{
 text-transform: uppercase;
 font-weight: bold;
}

.boldTitles{
 text-transform: uppercase;
 font-weight: bold;
}


.encuesta{
	
	text-transform:uppercase;
	background-color: #666;
	font-weight: bold;
	color: white;
}

.tableSearch{
 
 border-bottom:#000 1px solid;
 border-top: #000 1px solid;
 
}

body{
	color: #333;
	font-size:11px;
	font-family:arial,sans-serif;
	text-align: center;
	
}
.decrease{color:#f61636; font-weight:normal; padding-left:10px;}
.percent{
	background-color:#999;
	height:11px;
	display:block;
	margin-left:2px;
} 
.p100{width:98%;}
.p90{width:88%;}
.p80{width:78%;}
.p70{width:68%;}
.p60{width:58%;}
.p50{width:48%;}
.p40{width:38%;}
.p30{width:28%;}
.p20{width:18%;}
.p10{width:8%;}
.red-minimal, .p20{
	background-color:#81af46;
	
	color: #f7faf3 ;
	}

.decrease{
color:#e6e6e6;
}
table {
	font-family:arial,sans-serif;
	width:100%;
	font-size:11px;
	color: #333;
}
a{
	text-decoration: none;
	color:#333;
}

.link{
	text-decoration:underline;
	color: #3366BB;
}
.enlace{
	text-decoration: none;
	color:#000000;
	font-weight: bold;
}


.botonGrey{
	background-color:#e6e6e6;
}
.botonColor{
	background-color:#81af46;
}
.textBold{
	font-weight: bold;
}
.textColor{
	color:#81af46;
}
.whiteback{
 background-color: #FFF;
 font-weight: bold;
}

.greyback{
 background-color: #e6e6e6;
 font-weight: bold;
}

.footer{
	background-color:#81af46;
	border-top: #000 1px solid;
	margin-top: 25px;
	
} .botonGreen{
	background-color:#6CBB00;
	color:#FFF;
	padding:8px;
	font-weight: bold;
	margin-right: 30%;
}
.botonRed{
	background-color:#CC1300;
	color:#FFF;
	padding:8px;
	margin-left: 30%;
	font-weight: bold;
}

p u a {
color: #0060ff;
}

p u {
color: #0060ff;
}

p a {
color: #0060ff;
}

.greenline{
	background-color: #7AE55D;
	font-weight: bold;
}

.darkgreen{
	background-color: #69C450;
	font-weight: bold;
}
h4{
color: black;
}