@charset "utf-8";

.all-elements {
	overflow-x: hidden
}

body {
	background-color: #FFF
}

#content {
	background-color: #FFF
}

#content .container, ,.decoration, .gallery {
	margin: 0 20px
}

.bxslider-wrapper {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0
}

.container-gray {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px
}

.page-header {
	height: 50px;
	margin-bottom: 20px
}

.paragraph {
	display: block;
	width: 100%
}

.deploy-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/misc/sprite_astrologico.png) 0px -19px;
	background-repeat: no-repeat;
	width: 52px;
	height: 42px;
}

.deploy-sidebar:hover {
	background-color: rgba(255, 255, 255, .1)
}

.sidebar-header {
	overflow: visible
}

.sidebar-decoration {
	background-color: #111112;
	height: 1px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1)
}

.sidebar-separator {
	padding-left: 20px !important;
	font-family: Lato, sans-serif;
	color: #757575;
	font-size: 10px;
	margin: 0;
	padding: 0;
	background-color: #111112;
	opacity: .7;
	height: 25px;
	border-top: 1px solid #323437;
	border-bottom: 1px solid #323437
}

.no-border {
	border-bottom: none !important
}

.page-content {
	background-color: #282c33;
	z-index: 10;
	display: block;
	min-height: 580px
}

.page-content-wrapper {
	display: block;
	background-color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	padding-bottom: 15px
}

.page-sidebar {
	background-color: #232528;
	width: 260px;
	display: block;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	position: fixed
}

.page-sidebar-scroll {
	width: 280px;
	overflow: scroll !important;
	overflow-x: hidden !important;
	-webkit-overflow-scroll: touch !important;
	height: 100%
}

.sidebar-logo {
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: -7px
}

.sidebar-header {
	margin-bottom: 28px;
	margin-top: 8px
}

.heading {
	font-weight: 800
}

.flat-button {
	font-size: 12px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	padding-right: 20px
}

.center-button {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px
}

.footer {
	background-color: #2c3e50;
	height: 60px
}

.nav-item {
	float: left;
	font-size: 14px;
	background-repeat: no-repeat;
	font-family: Dosis, sans-serif;
	color: #FFF;
	height: 60px;
	line-height: 55px;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 5px;
	opacity: .8;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1)
}

.nav-page {
	position: absolute;
	left: 220px;
	top: 20px;
	background-image: url(../images/misc/next-shortcut.png);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	width: 22px;
	height: 22px
}

.nav-onit {
	position: absolute;
	left: 220px;
	top: 20px;
	background-image: url(/resources/owo/images/misc/onit-shortcut.png);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	width: 22px;
	height: 22px
}

.nav-item:hover {
	background-color: rgba(255, 255, 255, .05)
}

* {
	appearance: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: 0;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none
}

:focus {
	outline: 0
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0
}

body {
	margin: 0;
	padding: 0;
	line-height: 18px
}

::selection {
	background-color: none;
	color: #fff
}

a, blockquote, code, div, fieldset, form, iframe, img, input, label, p,
	pre, textarea {
	display: block;
	overflow: hidden;
	position: relative
}

p {
	line-height: 22px;
	font-size: 13px;
	margin-bottom: 20px
}

p>a {
	display: inline;
	text-decoration: none
}

p>a:hover {
	text-decoration: underline
}

a>span, p>span, span>a {
	display: inline
}

a, a:hover {
	text-decoration: none
}

h1 {
	font-size: 20px;
	line-height: 26px
}

h2 {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 1px
}

h3 {
	font-size: 16px;
	line-height: 22px
}

h4 {
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 1px
}

h5 {
	font-size: 12px;
	line-height: 18px
}

h6 {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 1px
}

h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
	display: inline
}

ol, ul {
	font-size: 12px;
	margin-bottom: 20px
}

.regular-list {
	overflow: visible !important;
	margin-left: 0
}

.number-list li {
	overflow: visible !important;
	list-style: decimal;
	margin-left: 20px
}

ol {
	margin-bottom: 20px
}

li {
	line-height: 18px;
	margin-bottom: 5px;
	list-style: inside
}

ol>li:last-child, ul>li:last-child {
	margin-bottom: 0
}

.clear {
	clear: both;
	height: 0;
	line-height: 0
}

.float-left {
	margin-right: 10px
}

.float-right {
	margin-left: 10px
}

.no-bottom {
	margin-bottom: 0 !important
}

.no-top {
	margin-top: 0 !important
}

.half-bottom {
	margin-bottom: 10px !important
}

.full-bottom {
	margin-bottom: 20px !important
}

.responsive-image, .responsive-video {
	max-width: 100%
}

.uppercase {
	text-transform: uppercase !important
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.tablet-landscape-content, .tablet-only,
	.tablet-portrait-landscape-content {
	display: none
}

.center-text-on-mobile {
	text-align: center
}

.center-icon {
	width: 70px
}

.icon {
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 32px
}

#content .container, .decoration, .column, .gallery {
	margin: 0px 20px;
}

.column-icon {
	width: 80px
}

.swipe-notification {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	background-color: #f1f1f1
}

.white-box {
	background-color: #f1f1f1;
	border: solid 1px #cacaca
}

.swipe-notification {
	padding: 20px;
	padding-bottom: 0
}

.swipe-notification a strong {
	font-family: Lato, sans-serif;
	color: #e34e47;
	font-weight: 800;
	font-size: 13px
}

.swipe-notification a {
	color: #3b4043;
	font-size: 11px;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 5px;
	float: left;
	display: inline-block;
	width: 100%;
	overflow: visible !important;
	margin-bottom: 20px !important
}

.swipe-button {
	display: none;
	float: right;
	width: 0;
	height: 30px;
	text-align: center;
	background-color: #000;
	color: #FFF;
	font-size: 10px;
	line-height: 30px;
	text-transform: uppercase
}

.swipe-tick-cross {
	padding: 15px 20px
}

.swipe-tick-cross a {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	background-repeat: no-repeat;
	padding-left: 35px;
	text-transform: uppercase;
	font-size: 12px !important;
	background-position: 0 1px
}

.white-notification {
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px
}

.white-notification a strong {
	color: #e34e47;
	font-weight: 800;
	font-size: 13px
}

.white-notification a {
	height: 28px;
	color: #3b4043;
	padding-left: 40px;
	font-size: 10px;
	line-height: 14px;
	overflow: visible !important;
	font-family: Lato, sans-serif;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	background-position: 0 5px
}

.white-notification a em {
	font-family: Lato, sans-serif;
	font-size: 12px;
	color: #3b4043;
	font-weight: 800;
	font-style: normal;
	float: right;
	margin-top: -8px
}

.content {
	padding-left: 20px;
	padding-right: 20px
}

.container {
	margin-bottom: 20px
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden
}

.shadow {
	text-shadow: 0 1px 0 #FFF
}

.italic {
	font-style: italic
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px
}

h1, h2, h3, h4 {
	font-weight: 400
}

h5, h6 {
	font-weight: 600
}

em, li, ol, p, strong, ul {
	letter-spacing: .8px
}

h1, h1>a, h2, h2>a, h3, h3>a, h4, h4>a, h5, h5>a, h6, h6>a {
	color: #2c3e50;
	font-family: Lato, sans-serif
}

body, span {
	color: #7f8c8d;
	font-family: Dosis, sans-serif
}

input, textarea {
	font-family: Dosis, sans-serif
}

em {
	color: #7f8c8d
}

blockquote {
	color: #7f8c8d !important
}

.filtrable-caption {
	color: #7f8c8d
}

.dropcaps, .field-title {
	color: #333
}

.image-decoration {
	box-sizing: border-box;
	background-color: #FFF;
	padding: 4px;
	border: solid 1px #cacaca;
	margin-bottom: 10px
}

.image-decoration2 {
	border-radius: 150px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .1);
	padding: 2px;
	margin-bottom: 5px
}

.icon {
	background-color: #3b4043
}

.bg-orange {
	background-color: #e34e47;
	color: #FFF !important
}

.bg-yellow {
	background-color: #ffd100;
	color: inherit
}

.bg-green {
	background-color: #518900;
	color: #FFF !important
}

.bg-gray {
	background: #550071; /* Old browsers */
	background: -moz-linear-gradient(top, #550071 0%, #73b7cf 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #550071),
		color-stop(100%, #73b7cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #550071 0%, #73b7cf 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #550071 0%, #73b7cf 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #550071 0%, #73b7cf 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #550071 0%, #73b7cf 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#550071',
		endColorstr='#73b7cf', GradientType=0); /* IE6-9 */
	color: #FFF !important
}

.bg-light-gray {
	background-color: rgba(0, 0, 0, .1);
	color: #333 !important
}

.bg-dark-gray {
	background-color: rgba(0, 0, 0, .7);
	color: #FFF !important
}

.bg-light {
	background-color: rgba(0, 0, 0, .05);
	color: #333 !important
}

.button, .button-minimal {
	margin-top: 10px;
	margin-bottom: 20px
}

.green-notification p {
	display: inline-block;
	height: 16px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-weight: 600
}

.red-notification p {
	display: inline-block;
	height: 16px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-weight: 600;
	color: #C00
}

.blue-notification p {
	display: inline-block;
	height: 16px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-weight: 600;
	color: #039
}

.yellow-notification p {
	display: inline-block;
	height: 16px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-weight: 600;
	color: #666
}

.red-box {
	background-color: #ffdcdd;
	border: 1px solid #e9b9bb
}

.red-box a {
	color: #8d4345;
	font-weight: 700;
	padding-top: 3px;
	margin-top: -3px !important
}

.red-box h4 {
	color: #8d4345;
	font-weight: 400;
	font-size: 16px;
	text-shadow: none
}

.red-box p {
	color: #c19597;
	border-top: 1px solid #e9b9bb;
	padding-top: 15px;
	margin-top: 8px
}

.yellow-box {
	border: 1px solid #e9e1b9
}

.yellow-box a {
	color: #999;
	font-weight: 700;
	padding-top: 3px;
	margin-top: -3px !important
}

.yellow-box h4 {
	color: #999;
	font-weight: 400;
	font-size: 16px;
	text-shadow: none
}

.yellow-box p {
	color: #999;
	border-top: 1px solid #e9e1b9;
	padding-top: 15px;
	margin-top: 8px
}

.green-box {
	background-color: #e3ffdc;
	border: 1px solid #d9e9b9
}

.green-box a {
	color: #7b8a77;
	font-weight: 700;
	padding-top: 3px;
	margin-top: -3px !important
}

.green-box h4 {
	color: #7b8a77;
	font-weight: 400;
	font-size: 16px;
	text-shadow: none
}

.green-box p {
	color: #abc0a6;
	border-top: 1px solid #d9e9b9;
	padding-top: 15px;
	margin-top: 8px
}

.blue-box {
	background-color: #dcf9ff;
	border: 1px solid #b9d9e9
}

.blue-box a {
	color: #90a9b2;
	font-weight: 700;
	padding-top: 3px;
	margin-top: -3px !important
}

.blue-box h4 {
	color: #90a9b2;
	font-weight: 400;
	font-size: 16px;
	text-shadow: none
}

.blue-box p {
	color: #90a9b2;
	border-top: 1px solid #b9d9e9;
	padding-top: 15px;
	margin-top: 8px
}

.decoration {
	background-color: #cacaca;
	height: 2px;
	background-repeat: repeat;
	border-bottom: solid 1px #FFF;
	margin-bottom: 20px;
	display: block;
	clear: both
}

.footer-decoration {
	border-bottom: 1px dotted rgba(255, 255, 255, .3);
	height: 1px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px
}

.code {
	border: solid 1px #cacaca;
	font-size: 12px;
	margin-bottom: 30px
}

.wline {
	display: block;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px
}

.code>span:last-child {
	border-bottom: none
}

.gline {
	border-top: solid 1px rgba(0, 0, 0, .1);
	border-bottom: solid 1px rgba(0, 0, 0, .1);
	display: block;
	background-color: #f1f1f1;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999
}

#status {
	z-index: 999999;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/status.gif);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	margin: -125px 0 0 -125px
}

#status p {
	top: 60%
}

#status em {
	font-size: 10px !important;
	display: block;
	font-style: normal
}

.center-text {
	text-align: center
}

.left-text {
	text-align: left
}

.right-text {
	text-align: right
}

.highlight {
	text-shadow: none;
	margin-top: 5px;
}

.column {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 2%;
}

.column div:last-child {
	margin-right: 0
}

.column div:first-child {
	margin-left: 0
}

.column p span {
	float: left;
	margin-right: 10px;
	margin-top: 5px
}

.column h1, h2, h3, h4, h5 {
	padding-top: 0
}

.one-third {
	float: left;
	width: 28%;
	margin-left: 4.5%;
	margin-right: 3.5%
}

.one-half {
	float: left;
	width: 46%;
	margin-left: 3.5%;
	margin-right: 3.5%
}

.one-half img, .one-third img {
	padding-bottom: 5px
}

.column-icon {
	float: left;
	margin-right: 15px;
	margin-top: 5px
}

.center-icon {
	margin-left: auto;
	margin-right: auto
}

.notification-box {
	margin-bottom: 20px;
	padding: 15px;
	float: none
}

.notification-box h4 {
	margin-bottom: 5px;
	float: left
}

.notification-box a {
	margin-top: 2px;
	font-size: 12px;
	float: right
}

.notification-box p {
	margin-bottom: 0;
	font-size: 12px;
	float: none
}

.header-notification {
	position: fixed;
	z-index: 99999;
	background-color: #000;
	width: 100%;
	display: block;
	padding: 0 10px;
	height: 45px;
	line-height: 45px !important;
	margin-bottom: 2px
}

.header-notification em {
	background-position: 0 15px;
	background-repeat: no-repeat;
	width: 18px;
	height: 45px;
	display: inline-block;
	float: left;
	padding-right: 40px
}

.header-notification strong {
	float: right;
	padding-right: 10px;
	line-height: 42px
}

.button-minimal2 {
	border-radius: 1px !important
}

.button-minimal {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	text-decoration: none !important;
	padding: 10px 15px;
	border-radius: 3px;
	display: inline-block
}

.grey2-minimal {
	color: #444;
	border: 1px solid #d0d0d0;
	background-color: #e1e1e1
}

.grey2-minimal:hover {
	border: 1px solid #b0b0b0;
	background-color: #ededed
}

.grey-minimal {
	color: #444;
	border: 1px solid #d0d0d0;
	background-color: #e1e1e1
}

.grey-minimal:hover {
	border: 1px solid #b0b0b0;
	background-color: #ededed
}

.grey-minimal:active {
	padding: 8px 12px;
	display: block;
	border: 1px solid #666;
	width: auto
}

.red-minimal:active {
	border: 1px solid #ab3e4b
}

.button2 {
	border-radius: 1px !important
}

.button {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none !important;
	padding: 8px 12px;
	border-radius: 3px;
	box-shadow: inset 0 0 2px #fff;
	-o-box-shadow: inset 0 0 2px #fff;
	-webkit-box-shadow: inset 0 0 2px #fff;
	-moz-box-shadow: inset 0 0 2px #fff;
	display: inline-block
}

.button:active {
	display: inline-block;
	padding: 8px 12px;
	box-shadow: inset 0 0 3px #999;
	-o-box-shadow: inset 0 0 3px #999;
	-webkit-box-shadow: inset 0 0 3px #999;
	-moz-box-shadow: inset 0 0 3px #999
}

.button:visited {
	display: inline-block;
	padding: 8px 12px;
	margin-right: 20px;
	margin-bottom: 30px;
	box-shadow: inset 0 0 3px #999;
	-o-box-shadow: inset 0 0 3px #999;
	-webkit-box-shadow: inset 0 0 3px #999;
	-moz-box-shadow: inset 0 0 3px #999
}

.grey2 {
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1),
		to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	background-color: #e1e1e1
}

.grey2:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed),
		to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed
}

.grey {
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1),
		to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	background-color: #e1e1e1
}

.grey:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed),
		to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed
}

.grey:active {
	padding: 8px 12px;
	display: block;
	border: 1px solid #666;
	width: auto
}

.red {
	color: #923c47;
	border: 1px solid #d96d7c;
	background-image: -moz-linear-gradient(#f997b0, #f6677b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6677b),
		to(#f997b0));
	background-image: -webkit-linear-gradient(#f997b0, #f6677b);
	background-image: -o-linear-gradient(#f997b0, #f6677b);
	background-color: #f6677b
}

.red:hover {
	border: 1px solid #c75964;
	background-image: -moz-linear-gradient(#f6677b, #f997b0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f997b0),
		to(#f6677b));
	background-image: -webkit-linear-gradient(#f6677b, #f997b0);
	background-image: -o-linear-gradient(#f6677b, #f997b0);
	background-color: #f997b0
}

.red:active {
	border: 1px solid #ab3e4b
}

.stat-left {
	color: #959595;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 5px;
	float: left;
	text-transform: uppercase
}

.stat-right {
	color: #959595;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 5px;
	float: right;
	text-transform: uppercase
}

.increase {
	color: #95ab24;
	font-weight: 400;
	padding-left: 10px
}

.decrease {
	font-weight: 400;
	padding-left: 10px
}

.stat-background {
	background-color: #eaeaea;
	height: 15px;
	display: block;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, .3)
}

.stat-cleaner {
	display: block;
	width: 100%;
	height: 2px
}

.percent {
	border-radius: 10px;
	position: relative;
	height: 11px;
	display: block;
	margin-left: 2px
}

.p100 {
	width: 98%
}

.p90 {
	width: 88%
}

.p80 {
	width: 78%
}

.p70 {
	width: 68%
}

.p60 {
	width: 58%
}

.p50 {
	width: 48%
}

.p40 {
	width: 38%
}

.p30 {
	width: 28%
}

.p20 {
	width: 18%
}

.p10 {
	width: 8%
}

.slider-caption p {
	color: #FFF
}

.slider-text em {
	color: #FFF;
	font-style: normal
}

.bx-next {
	right: 10px
}

@media screen and (orientation:landscape) {
	.slider-caption {
		bottom: 44%
	}
}

@media screen and (orientation:portrait) {
	.slider-caption {
		bottom: 35%
	}
}

.slider-caption {
	height: 80px;
	width: 100%;
	right: 0;
	position: absolute;
	z-index: 99998;
	color: #FFF
}

.slider-title {
	padding-top: 5px;
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
	text-align: center
}

.slider-link {
	text-transform: uppercase;
	display: block;
	padding-top: 20px
}

.slider-text {
	display: none
}

.slider-text span {
	color: #FFF
}

.bx-wrapper div {
	position: static;
	overflow: visible
}

.bx-controls, .bx-controls-direction, .bx-default-pager,
	.bx-has-controls-direction, .bx-has-pager, .bx-pager, .bx-pager-item,
	.bx-wrapper {
	overflow: visible
}

.bx-wrapper {
	position: relative;
	margin: 0 auto 20px;
	padding: 0;
	*zoom: 1
}

.bx-wrapper img {
	max-width: 100%;
	display: block
}

.bx-wrapper .bx-viewport {
	box-sizing: border-box !important;
	box-shadow: 0 0 5px #ccc;
	background: #fff
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
	overflow: visible;
	position: absolute;
	bottom: -30px;
	width: 100%
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000
}

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: 700;
	color: #666;
	padding-top: 20px
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager .bx-pager-item
	{
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.bx-wrapper .bx-pager.bx-default-pager a {
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover
	{
	background: #000
}

.bx-wrapper .bx-prev {
	left: 20px;
	background: url(../images/misc/sprite_astrologico.png) 0px -290px;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	z-index: 999 !important;
}

.bx-wrapper .bx-next {
	right: 25px;
	background: url(../images/misc/sprite_astrologico.png) -25px -290px;
	background-repeat: no-repeat;
	z-index: 999 !important;
	height: 25px;
	width: 25px;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-prev:hover {
	opacity: .7
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	text-indent: -9999px;
	z-index: 9999
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none
}

.bx-wrapper .bx-controls-auto {
	text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -11px no-repeat;
	margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:hover
	{
	background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -44px no-repeat;
	margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:hover
	{
	background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
	{
	right: 0;
	width: 35px
}

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(80, 80, 80, .75);
	width: 100%
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px
}

.page-header {
	background-color: #FFF;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, .2)
}

.small-notification {
	margin-bottom: 20px
}

.small-notification p {
	margin: 10px 13px;
	padding-bottom: 2px;
	line-height: 20px;
	font-weight: bolder;
	font-family: Lato;
	float: left
}

.green-notification {
	background-color: rgba(87, 223, 65, 1);
	border-radius: 5px
}

.green-notification a {
	padding: 10px;
	font-size: 10px;
	color: rgba(51, 51, 51, 1);
	float: right
}

.green-notification p {
	color: rgba(51, 51, 51, 1)
}

.slider-title {
	background-color: rgba(0, 0, 0, .5)
}

.one-half {
	text-align: center
}

.one-half img {
	margin: 0 auto
}

.imgbox {
	float: left;
	margin-right: 15px
}

.container-gray {
	background-color: rgba(87, 223, 65, .05)
}

.flat-button {
	color: #FFF;
	background-color: rgba(51, 51, 51, 1)
}

.search-wrapper {
	width: 220px;
	margin: 15px auto 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0
		rgba(255, 255, 255, .2)
}

.search-wrapper input {
	width: 148px;
	height: 40px;
	padding: 10px 5px;
	float: left;
	font: 700 15px 'lucida sans', 'trebuchet MS', Tahoma;
	border: solid thin #999
}

.search-wrapper input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset
}

.search-wrapper input:-webkit-input-placeholder {
	color: #999;
	font-weight: 400;
	font-style: italic
}

.search-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: 400;
	font-style: italic
}

.search-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: 400;
	font-style: italic
}

.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 72px;
	font: 700 15px/40px 'lucida sans', 'trebuchet MS', Tahoma;
	color: #fff;
	text-transform: uppercase;
	background: #333;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3)
}

.search-wrapper button:hover {
	background: #333
}

.search-wrapper button:active, .search-wrapper button:focus {
	background: #333;
	outline: 0
}

.search-wrapper button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #333;
	top: 12px;
	left: -6px
}

.search-wrapper button:active:before, .search-wrapper button:focus:before,
	.search-wrapper button:hover:before {
	border-right-color: #333
}

.search-wrapper button::-moz-focus-inner {
	border: 0;
	padding: 0
}

.notification-box img {
	display: block;
	float: left;
	margin-right: 5px
}

.espacio {
	margin-top: 20px
}

.voto {
	padding: 5px;
	border: 1px solid rgba(153, 153, 153, 1);
	margin: 0 auto
}

a {
	color: rgba(123, 123, 123, 1)
}

#listado {
	margin-bottom: 35px
}

#listado a:hover {
	background-color: rgba(87, 223, 65, 1)
}

.p20, .red-minimal, .red-minimal:hover {
	background-color: rgba(87, 223, 65, 1);
	border: 1px solid rgba(0, 102, 0, 1);
	color: rgba(0, 102, 0, 1)
}

.decrease {
	color: rgba(87, 223, 65, 1)
}

.yellow-box {
	background-color: rgba(87, 223, 65, 1)
}

#pago {
	float: left;
	margin-right: 15px
}

.pago {
	margin-top: 20px
}

.pagos {
	padding-top: 15px;
	text-align: center
}

#pagomod {
	margin-bottom: 20px
}

#pagomod:hover {
	background-color: rgba(87, 223, 65, 1)
}

.container {
	margin-top: 15px
}

#comprar {
	width: 100%;
	margin-bottom: 25px
}

.votacion {
	margin-top: 20px
}

.margen {
	padding-top: 15px
}

#precio {
	font-size: 18px
}

.aviso {
	display: inline;
	text-decoration: underline;
	font-weight: bolder;
	color: rgba(0, 51, 255, 1)
}

.encuesta-img-mod {
	margin: 0 auto
}

.encuesta-butt-mod {
	text-align: center;
	padding-bottom: 15px
}

.logo {
	width: 200px;
	float: right;
	margin-right: 14%;
}

.logo img {
	width: 70%;
	max-height: 60px
}

#concurso img, .banner-div-mod img {
	width: 100%;
	margin-bottom: 7px
}

.footer-mod {
	background-color: rgba(87, 223, 65, 1);
	padding-top: 15px
}

.footer-mod a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none
}

.slider-caption {
	padding: 20px 0
}

.bx-prev {
	margin-left: -20px
}

.bx-next {
	margin-right: -25px
}

.pag-next-mod a, .pag-prev-mod a {
	text-align: center;
	padding-right: 0;
	font-size: 14px;
	font-weight: 700
}

.sidebar-logo-mod {
	width: 140px
}

.dinnerplate-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -230px;
	background-repeat: no-repeat;
	width: 23px;
	height: 21px;
}

.documenttext-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -247px;
	background-repeat: no-repeat;
	width: 23px;
	height: 21px;
}

.glass-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -269px;
	background-repeat: no-repeat;
	width: 23px;
	height: 21px;
}

.tables-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -211px;
	background-repeat: no-repeat;
	width: 23px;
	height: 21px;
}

.home-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -174px;
	background-repeat: no-repeat;
	width: 23px;
	height: 20px;
}

.mama-nav {
	background: url(../images/misc/sprite_astrologico.png) 0px -192px;
	background-repeat: no-repeat;
	width: 23px;
	height: 21px;
}

.sexualidad-nav {
	background: url(../images/icon/personalized/sexualidad.png);
}

.link {
	text-decoration: underline;
	font-weight: bolder;
	color: rgba(0, 0, 255, 1)
}

h1, h2, h3, h4, h5, h6, li, p, span, ul {
	color: rgba(51, 51, 51, 1)
}

p {
	margin-bottom: 0px;
}

p.precio {
	font-size: 13px;
	margin-bottom: 2px;
}

.button-grey {
	background: #c60307; /* Old browsers */
	background: -moz-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c60307),
		color-stop(48%, #c4292b), color-stop(58%, #8f0222),
		color-stop(100%, #6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%,
		#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60307',
		endColorstr='#6d0019', GradientType=0); /* IE6-9 */
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: none;
	padding: 10% 10%;
	color: #FFF;
	border: 1px solid rgba(204, 204, 204, 1);
	font-size: 22px;
}

.button-red {
	background: #b3e55e; /* Old browsers */
	background: -moz-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3e55e),
		color-stop(46%, #8eb92a), color-stop(55%, #72aa00),
		color-stop(100%, #58a024)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%,
		#58a024 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e55e',
		endColorstr='#58a024', GradientType=0); /* IE6-9 */
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: none;
	padding: 10% 10%;
	color: #FFF;
	border: 1px solid rgba(204, 204, 204, 1);
	font-size: 22px;
}

.week {
	margin: 0 auto;
	width: 65%;
	margin-bottom: 20px;
	border-radius: 5px;
}

.pay-header {
	background-color: #FFF;
	box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

p {
	margin-bottom: 0px;
}

p.precio {
	font-size: 13px;
	margin-bottom: 2px;
}

.button-grey {
	background: #c60307; /* Old browsers */
	background: -moz-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c60307),
		color-stop(48%, #c4292b), color-stop(58%, #8f0222),
		color-stop(100%, #6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%,
		#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #c60307 0%, #c4292b 48%, #8f0222 58%, #6d0019
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60307',
		endColorstr='#6d0019', GradientType=0); /* IE6-9 */
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: none;
	padding: 20% 0%;
	width: 100%;
	color: #FFF;
	border: 1px solid rgba(204, 204, 204, 1);
}

.button-red {
	background: #b3e55e; /* Old browsers */
	background: -moz-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3e55e),
		color-stop(46%, #8eb92a), color-stop(55%, #72aa00),
		color-stop(100%, #58a024)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%,
		#58a024 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #b3e55e 0%, #8eb92a 46%, #72aa00 55%, #58a024
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e55e',
		endColorstr='#58a024', GradientType=0); /* IE6-9 */
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: none;
	padding: 20% 0%;
	width: 100%;
	color: #FFF;
	border: 1px solid rgba(204, 204, 204, 1);
}

.week {
	margin: 0 auto;
	width: 65%;
	margin-bottom: 20px;
	border-radius: 5px;
}

.paycontainer {
	background-color: #FFF;
}

.payheader {
	background-color: #FFF;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, .2);
}

.delete-sidebar {
	overflow: visible !important;
	display: inline;
	position: absolute;
	background: url(../images/misc/sprite_astrologico.png) -186px -152px;
	background-repeat: no-repeat;
	width: 27px;
	height: 24px;
	left: 201px;
	margin-top: -2px;
}

.newfooter {
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.newcolumn {
	margin: 0px 0px;
	font-size: 13px;
	font-weight: bolder;
	padding-top: 17px;
	margin-bottom: 15px;
	margin-left: 3%;
}

.newone-half {
	margin-left: 3.5%;
}

.greenline {
	background-color: rgba(122, 229, 93, 0.40);
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
}

.darkgreen {
	background-color: rgba(122, 229, 93, 0.70);
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
}

.bottom-link {
	margin: 30px 20px;
	text-decoration: underline;
	padding: 0;
	margin-bottom: 140px;
}

h4 {
	font-weight: bold;
}

.header {
	margin-top: 0;
	margin-bottom: 5px;
}

.header img {
	width: 100%;
}

.section img {
	width: 75%;
	margin: 0 auto;
	margin-top: 12px;
}

.section {
	margin: 0;
}

.boton img {
	height: 11%;
	width: 90%;
}

.botones {
	margin: 0;
}

.semana img {
	width: 65%;
	margin: 0 auto;
	margin-top: 8px;
}

.semana {
	margin-bottom: 0;
}

.mod-botones {
	margin: 7px 0;
}

.botones .info {
	margin-top: 0;
}

.mod-botones img {
	width: 100%;
}

.justify {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
}

.container-lateral {
	margin: 0 5%;
}

.paylink {
	width: 65%;
	margin: 0 auto;
}

.pag-button {
	background: #6d7b74;
}

.title-mod {
	margin-top: 8px;
	margin-bottom: 3px;
}

.paygif {
	margin: 0 auto;
	width: 65%;
	margin-top: -7px;
}

.cat-afinidad {
	background: url(../images/misc/sprite_astrologico.png) -333px -63px;
	width: 83px;
	background-repeat: no-repeat;
	height: 93px;
	margin: 0 auto;
}

.cat-chino {
	background: url(../images/misc/sprite_astrologico.png) -249px -64px;
	width: 83px;
	background-repeat: no-repeat;
	height: 93px;
	margin: 0 auto;
}

.cat-signo {
	background: url(../images/misc/sprite_astrologico.png) -166px -64px;
	width: 83px;
	background-repeat: no-repeat;
	height: 93px;
	margin: 0 auto;
}

.cat-diario {
	background: url(../images/misc/sprite_astrologico.png) -83px -63px;
	width: 83px;
	background-repeat: no-repeat;
	height: 93px;
	margin: 0 auto;
}

.cat-magia {
	background: url(../images/misc/sprite_astrologico.png) 0px -63px;
	width: 83px;
	background-repeat: no-repeat;
	height: 93px;
	margin: 0 auto;
}

.logo-header {
	background: url(../images/misc/sprite_astrologico.png) -55px -28px;
	width: 200px;
	background-repeat: no-repeat;
	height: 30px;
	margin: 0 auto;
	margin-top: 8px;
}

.logo-vodafone {
	background: url(../images/misc/sprite_astrologico.png) -260px -27px;
	width: 41px;
	background-repeat: no-repeat;
	height: 41px;
	float: right;
	margin-top: 8px;
}

.logo-site-menu {
	background: url(../images/misc/sprite_astrologico.png) 0px -153px;
	width: 153px;
	background-repeat: no-repeat;
	height: 23px;
	margin-top: 20px;
	margin-bottom: -12px;
	margin-left: 5px;
}

.menu-row {
	padding: 10px;
	border-bottom: solid 1px #111112;
}

.menu-row a {
	color: #FFF;
	margin-top: 5px;
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	font-family: Arial;
	font-size: 15px;
}

a {
  color: #7B0000;
}

.body-class {
	color: #000;
}

.btn a{
  background: #984281;
  background-image: -webkit-linear-gradient(top, #984281, #632f56);
  background-image: -moz-linear-gradient(top, #984281, #632f56);
  background-image: -ms-linear-gradient(top, #984281, #632f56);
  background-image: -o-linear-gradient(top, #984281, #632f56);
  background-image: linear-gradient(to bottom, #984281, #632f56);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 5px #666666;
  -moz-box-shadow: 0px 1px 5px #666666;
  box-shadow: 0px 1px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
}

/*Add The Above To Proper Files */
.content {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	padding: 10px;
	background: #fff;
}

.container p {
	line-height: 1.2em !important;
	padding-right: 15px;
}


/*///////////////////////////////////////////////////////////////////////////////*/
/*-----------------------Left Right Center Text----------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/
.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.logo-vodafone {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
}